---
import Hero from "../components/Hero.astro";
import AppLayout from "../layouts/AppLayout.astro";

---

<AppLayout title="About">
  <Hero image="/images/hero02.jpg" title="About" />
  <div class="card card-body mt-2">
    <h3>Lorem ipsum dolor sit amet.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam rerum velit, et repellat dolorem cupiditate distinctio error ipsa ducimus quo.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo a porro optio, nostrum voluptatum temporibus unde consectetur tempora magni est, suscipit repellat sunt, recusandae culpa!</p>
  </div>
</AppLayout>